<%= turbo_frame_tag "modal" do %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Edit Todo
        </h5>
        <%= link_to "", "#", class: "btn-close", data: { turbo_frame: "modal", action: "click->todo-form#close" } %>
      </div>

      <%= render "form", todo: @todo %>
    </div>
</div>
<% end %>
