<div class="overflow-auto">

<div class="d-flex justify-content-end p-2">
<%= link_to "Create New ToDo", nil, class:"btn btn-primary", remote:true, data: {
    controller: "todo",
    action: "todo#toggleForm",
} %>
</div>
<div class="d-none" id="form-for-toggle">
  <%= render "todos/form", todo: @todo %>
</div>
<section class="vh-100 gradient-custom-2">
  <div class="container h-100">
    <div class="row d-flex justify-content-center h-100">
      <div class="col-md-12 col-xl-10">
        <div class="card mask-custom m-2">
          <div class="card-body p-4 text-white">
            <%= render 'pages/todo_table' %>
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>
</div>
