<div class="overflow-auto">

<div class="d-flex justify-content-end p-2">
<%= link_to "Create New ToDo", nil, class:"btn btn-primary", remote:true, data: {
    controller: "todo",
    action: "todo#toggleForm",
} %>
</div>
<div class="d-none" id="form-for-toggle">
  <%= render "todos/form", todo: @todo %>
</div>
<section class="vh-100 gradient-custom-2">
  <div class="container h-100">
    <div class="row d-flex justify-content-center h-100">
      <div class="col-md-12 col-xl-10">
        <div class="card mask-custom m-2">
          <div class="card-body p-4 text-white">

            <div class="text-center pt-3 pb-2">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
                alt="Check" width="60">
              <h2 class="my-4">Task List</h2>
            </div>

            <table class="table text-white mb-0">
              <thead>
                <tr>
                  <th scope="col">Task Title</th>
                  <th scope="col">Task</th>
                  <th scope="col">Category</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                 <% @todos.each do |todo| %>
                  <%= render todo %>
              <% end %>    
              </tbody>
            </table>


          </div>
        </div>
      </div> 
    </div>
  </div>
</section>
</div>
